@using CarSales.Domain.Entities

<div class="card m-2">
    @* фото на всю левую часть карточки *@
    <div class="card-header">
        @Car.Brand @Car.Model, @Car.Year
    </div>
    <div class="card-body">
        @* основная информация об авто в кратком виде *@
        3.0 л., 249 л.с., дизель, АКПП
    </div>
    <div class="card-footer">
        @* дата размещения, город, кол-во просмотров? *@
        card-footer
    </div>
    @* правый верхинй угол - цена *@
</div>

@code {
    // TODO: кликабельная карточка
    // При нажатие происходит переход на полноценную страницу с информацией
    // ~/offer/{id}

    [Parameter]
    public Car Car { get; set; } = null!;
}
