@page "/catalog"

@using CarSales.UI.Components;

<div>
    <h3>Автомобили в наличии:</h3>
</div>

<div class="container">
    <CardComponent />
</div>


@code {
    // TODO: show by lines
    // show by cards
}
